<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Chat APp With Socket.io cause Why Not</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link type = "text/css" rel="stylesheet" href="public/css/chat.css"/>
</head>

<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
         <li><a href="/archanaPage">Archana's Tab<span class="sr-only">(current)</span></a></li>
          <li><a href="/IgorPage">Igor's World</a></li>
           <li><a href="/kylesPage">Chat App with Socket.io</a></li>
      </ul>
</nav>
</div>
<br/>
 <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
<script src="../socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/public/js/chatIo.js"></script>
</body>
</html>